__pycache__
output
*linear*
*lora*
*hw3*
*old*
esm4sl/dataset/neg_sampler.py

data/SLKB/**
!data/SLKB/SLKB_original_scores.csv

data_preprocess/**
!data_preprocess/baseline.ipynb
!data_preprocess/esm2_gen.py
!data_preprocess/preprocess.ipynb
!data_preprocess/utils.py

script/**
!script/attn/specific_all.py
!script/attn/specific_ablation.py
!script/attn/train.sh
!script/attn/test.sh
!script/mlp/specific_all.py
!script/mlp/train.sh
!script/mlp/test.sh