__pycache__
output
*linear*
*lora*
*hw3*
*old*
*transfer*
esm4sl/dataset/neg_sampler.py

data/SLKB/**
!data/SLKB/SLKB_original_scores.csv

data_preprocess/**
!data_preprocess/baseline.ipynb
!data_preprocess/esm2_gen.py
!data_preprocess/preprocess.ipynb
!data_preprocess/utils.py